<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <div th:replace="~{layouts/adminlte/layout.html :: head}">
        <title id="headtitle">Editar Usuario</title>
    </div>
    <div th:replace="~{layouts/adminlte/layout.html :: styles}"> </div>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div th:replace="~{layouts/adminlte/layout.html :: preloader}"> </div>
        <div th:replace="~{layouts/adminlte/layout.html :: main-header}"> </div>
        <div th:replace="~{layouts/adminlte/layout.html :: main-sidebar}"> </div>
        <div class="content-wrapper">
            <div th:replace="~{layouts/adminlte/layout.html :: content-header}"> </div>

            <!-- Main content -->
            <section th:replace="~{layouts/adminlte/layout.html :: content-content}">
                <div id="content">
                    <div class="card">
                        <div class="card-header">
                            <h1>Editar Usuario</h1>
                        </div>
                        <form th:action="@{/administration/admin/usuarios/actualizar/{id}(id=${usuario.id})}"
                            th:object="${usuario}" method="post">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="pnombre">Primer Nombre</label>
                                            <input type="text" class="form-control" id="pnombre" th:field="*{pnombre}"
                                                placeholder="Primer Nombre" required />
                                        </div>

                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="snombre">Segundo Nombre</label>
                                            <input type="text" class="form-control" id="snombre" th:field="*{snombre}"
                                                placeholder="Segundo Nombre" required />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="papellido">Primer Apellido</label>
                                            <input type="text" class="form-control" id="papellido"
                                                th:field="*{papellido}" placeholder="Primer Apellido" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label for="sapellido">Segundo Apellido</label>
                                            <input type="text" class="form-control" id="sapellido"
                                                th:field="*{sapellido}" placeholder="Segundo Apellido" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="documento">Documento</label>
                                            <input type="text" class="form-control" id="documento"
                                                th:field="*{documento}" placeholder="Documento" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Correo Electrónico</label>
                                            <input class="form-control" type="email" id="email" th:field="*{email}"
                                                placeholder="Correo electrónico" required />
                                        </div>
                                    </div>
                                   

                                    <div class="col-sm-6">
                                        <div class="form-group">

                                            <label for="roles">Administrador</label>
                                            <select class="form-control" id="superuser" th:field="*{superuser}">
                                                <option value="">..::SELECCIONE::..
                                                </option>
                                                <option value="1">SI
                                                </option>
                                                <option value="2">NO
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="roles">Roles</label>
                                    <select class="form-control" id="roles" th:field="*{roles}" multiple="multiple">
                                        <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol.nombre}">
                                        </option>
                                    </select>
                                </div>



                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.row (main row) -->
                </div>
            </section>

            <!-- /.container-fluid -->

        </div>
        <div th:replace="~{layouts/adminlte/layout.html :: main-footer}"> </div>
        <div th:replace="~{layouts/adminlte/layout.html :: control-sidebar}"> </div>
    </div>
    <!-- ./wrapper -->

    <div th:replace="~{layouts/adminlte/layout.html :: scripts}">


    </div>


</body>

</html>