<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">

<head>
  <div th:replace="~{layouts/adminlte/layout.html :: head}">
    <title id="headtitle">Bienvenid@</title>
  </div>
  <div th:replace="~{layouts/adminlte/layout.html :: styles}"> </div>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <div th:replace="~{layouts/adminlte/layout.html :: preloader}"> </div>
    <div th:replace="~{layouts/adminlte/layout.html :: main-header}"> </div>
    <div th:replace="~{layouts/adminlte/layout.html :: main-sidebar}"> </div>
    <div class="content-wrapper">
      <div th:replace="~{layouts/adminlte/layout.html :: content-header}"> </div>

      <!-- Main content -->
      <section th:replace="~{layouts/adminlte/layout.html :: content-content}">
        <div id="content">
        

          <div th:if="${UsuarioService.hasPermission('PERMISSION_1')}">
            Contenido visible solo para usuarios con el permiso PERMISSION_21.
        </div>

          <p th:if="${auth != null}">
          Usuario autenticado: <span th:text="${auth}">Nombre no disponible</span>
          </p>

          <ul th:if="${auth != null}">
            <li th:each="authority : ${auth.authorities}">
              <span th:text="${authority.authority}">Permiso no disponible</span>
            </li>
          </ul>

          <p th:if="${auth == null}">No hay usuario autenticado.</p>

          <!-- /.row (main row) -->
        </div>
      </section>

      <!-- /.container-fluid -->

    </div>
    <div th:replace="~{layouts/adminlte/layout.html :: main-footer}"> </div>
    <div th:replace="~{layouts/adminlte/layout.html :: control-sidebar}"> </div>
  </div>
  <!-- ./wrapper -->

  <div th:replace="~{layouts/adminlte/layout.html :: scripts}">


  </div>


</body>

</html>