<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <div th:replace="~{layouts/adminlte/layout.html :: head}">
        <title id="headtitle">Listado Permisos</title>
    </div>
    <div th:replace="~{layouts/adminlte/layout.html :: styles}"> </div>

    <div th:replace="~{layouts/adminlte/layout/styles_datatables.html :: styles_datatables}"> </div>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div th:replace="~{layouts/adminlte/layout.html :: preloader}"> </div>
        <div th:replace="~{layouts/adminlte/layout.html :: main-header}"> </div>
        <div th:replace="~{layouts/adminlte/layout.html :: main-sidebar}"> </div>
        <div class="content-wrapper">
            <div th:replace="~{layouts/adminlte/layout.html :: content-header}"> </div>

            <!-- Main content -->
            <section th:replace="~{layouts/adminlte/layout.html :: content-content}">
                <div id="content">
                    <!-- Mostrar el mensaje de éxito o error -->
                    
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Lista de permisos</h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="card-header">
                                <a class="btn btn-primary" th:href="@{/administration/admin/permisos/crear}">Crear nuevo permiso</a>
                            </div>

                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Codename</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                <tbody>
                                    <tr th:each="permiso : ${permisos}">
                                        <td th:text="${permiso.id}"></td>
                                        <td th:text="${permiso.nombre}"></td>
                                        <td th:text="${permiso.codename}"></td>
                                        <td>
                                                  <a class="btn btn-outline-warning btn-sm" th:href="@{/administration/admin/permisos/editar/{id}(id=${permiso.id})}">
                                                <i class="fas fa-edit "></i>
                                            </a>
                                            <a class="btn btn-outline-danger btn-sm" th:href="@{/administration/admin/permisos/eliminar/{id}(id=${permiso.id})}">
                                                <i class="fas fa-trash-alt"></i>
                                                </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Codename</th>
                                        <th>Acciones</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.row (main row) -->
                </div>
            </section>

            <!-- /.container-fluid -->

        </div>
        <div th:replace="~{layouts/adminlte/layout.html :: main-footer}"> </div>
        <div th:replace="~{layouts/adminlte/layout.html :: control-sidebar}"> </div>
    </div>
    <!-- ./wrapper -->

    <div th:replace="~{layouts/adminlte/layout.html :: scripts}"></div>
    <div th:replace="~{layouts/adminlte/layout/scripts-datatable.html :: scripts-datatable}"> </div>


    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

</body>

</html>